/* Hacer que la página ocupe toda la pantalla y centrar la carta */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo de la carta de Pokémon */
.pokemon-card {
    background-color: white;
    width: 250px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Imagen del Pokémon, que ocupe todo el ancho disponible */
.pokemon-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Nombre del Pokémon */
.pokemon-name {
    font-size: 20px;
    color: black;
    margin-top: 10px;
}

/* Tipos de Pokémon, estilo de los textos */
.pokemon-type {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
    color: white;
}

.plant {
    background-color: #78C850; /* Verde */
}

.poison {
    background-color: #A040A0; /* Violeta */
}

/* Descripción del Pokémon */
.pokemon-description {
    font-size: 12px;
    color: #333;
    margin-top: 10px;
}
